body{
    background-image: url("./img/fabric.webp");
}

.sideBar{
    float: left;
    padding: 25px;
    background-color: #99a0a7;
    border-radius: 12px;
    height: 100%;
    box-shadow: -3px 3px 10px #3b3b3bdd;
}

.viewArea{
    background-color:rgb(234, 238, 239);
    border-radius: 12px;
    border: #15133C;
    box-shadow: -3px 3px 10px #3b3b3bdd;
}


/*.shotDistance{
    position: relative;
    left: 40px
}*/

.court-wrapper{
    position: relative;
}

/*#court-img{
    position: absolute;
    bottom: 116px;
    left: 30px;
    transform: scale(1.7)
}*/

.court-wrapper svg {
    position: absolute;
  }

.show {
    display: flex;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

.show a{
    color: black;
    text-decoration: none;
}

.filterCard{
    background-color: whitesmoke;
    box-shadow: -1px 0px 8px black;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px
}

.filterCard:hover{
    background-color: #dbdbdb;
}


#filterContainer {
    overflow-x: auto;
    white-space: nowrap;
    width: 20em;
    padding-top: 5px;
    padding-bottom: 5px;
}

#reset{
    padding:10px;
}