body{
    background-image: url("./img/fabric.webp");
}

.sideBar{
    float: left;
    padding: 25px;
    background-color: #99a0a7;
    border-radius: 12px;
    height: 100%;
    box-shadow: -3px 3px 10px #3b3b3bdd;
}

.viewArea{
    background-color:rgb(234, 238, 239);
    border-radius: 12px;
    border: #15133C;
    box-shadow: -3px 3px 10px #3b3b3bdd;
}


/*.shotDistance{
    position: relative;
    left: 40px
}*/

.court-wrapper{
    position: relative;
}

/*#court-img{
    position: absolute;
    bottom: 116px;
    left: 30px;
    transform: scale(1.7)
}*/

.court-wrapper svg {
    position: absolute;
  }

